.gitignore
bower_components
bower.json
umd
lib/perl.js
test
perl
doc
coverage
.nyc_output
scripts
.idea
.husky
Makefile
Gruntfile.js
.jshint*
.prettier*
.eslint*
.htmllint*
.stylelint*
.nyc*
.nvmrc
.travis.yml
jsdoc.conf.json
env.local
git.xxx
mytools.sh
go.sh
*.tgz
*.zip
*.txt
*.lst
*.log
*.bak
*.sublime-*
*.timestamp
