.gitignore
bower_components
umd
lib/perl.js
test
perl
doc
coverage
.nyc_output
scripts
.idea
.husky
Makefile
Gruntfile.js
.jshint*
jsdoc.conf.json
go.sh
*.txt
*.lst
*.log
*.bak
*.sublime-*
*.timestamp
